#mapwrapper {
	max-width: 1920px;
	margin: 0 auto;
	padding: 0 0;
	background-color: transparent;
	min-width: 220px;
}
#map_base svg {
	max-height: 100%;
	width: 100%;
	margin: 0;
}
@media screen and (max-width: 320px){
	#map_base svg {
		height:140px;
	}
}
@media screen and (max-width: 400px) and (min-width: 321px) {
	#map_base svg {
		height:190px;
	}
}
@media screen and (max-width: 480px) and (min-width: 401px) {
	#map_base svg {
		height:250px;
	}
}
@media screen and (max-width: 568px) and (min-width: 481px) {
	#map_base svg {
		height:300px;
	}
}
@media screen and (max-width: 685px) and (min-width: 569px) {
	#map_base svg {
		height:350px;
	}
}
@media screen and (max-width: 767px) and (min-width: 686px) {
	#map_base svg {
		height:420px;
	}
}
@media screen and (max-width: 979px) and (min-width: 768px) {
	#map_base svg {
		height:470px;
	}
}
@media screen and (max-width: 1024px) and (min-width: 980px) {
	#map_base svg {
		height:608px;
	}
}
@media screen and (max-width: 1280px) and (min-width: 1025px) {
	#map_base svg {
		height:632px;
	}
}
@media screen and (min-width: 1281px) {
	#map_base svg {
		height:792px;
	}
}
#map-tip {
    font: 14px/16px 'BrandonGrotesqueBold', sans-serif;
	letter-spacing: 0.08em;
    display: none;
    padding: 10px;
    border: 0px solid #EBECED;
    color: #ffffff;
    z-index: 1000;
    float: left;
    position: absolute;
    /*gradient color*/
    background: #303031;
  
    word-break: keep-all;
    white-space: nowrap
}

#map-tip span {
  
    color: #999999;

}

#map-tip strong {
  
    color: red;

}


#map-tip p {
	margin: 0!important;
}
#map-tip img {
	float: left;
	padding: 3px;
}